
.icon-grooveshark:before { content: '\38'; } /* '8' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-lastfm:before { content: '\f321'; } /* '' */